* {
    background-color: #e9ebee;
}

button {
    padding: 2px;
}

header {
    width: 850px;
    height: 200px;
    background-color: #5865a6;
    margin: auto;
}

.picture {
    width: 150px;
    height: 150px;
    background-color: #5865a6;
    border: black 1px solid;
    position: relative;
    left: 16px;
    top: 86px;
    z-index: 1;
    
}

.Page-Name {
    background-color: #5865a6;
    position: relative;
    top: -16px;
    left: 180px;
    color: white;
    font-size: x-large;
}

.Website {
    background-color: #5865a6;
    position: relative;
    top: 12px;
    left: 15px;
    color: white;
    font-size: large;
}


.button_group {
    background-color: #5865a6;
    display: inline;

}

.like-button-1 {
   position: relative;
   top: 5px;
   left: 366px;
   display: inline;
}

.message {
    position: relative;
    top: 5px;
    left: 378px;
    display: inline;
}

.follow {
    color: gray;
    position: relative;
    top: 5px;
    left: 381px;
    padding-top: 3px;
}

.dotdotdot {
    position: relative;
    top: 5px;
    left: 375px;
    padding-top: 3px;

}

.navbar {
    width: 850px;
    height: 47px;
    background-color: white;
    margin: auto;
    position: relative;
    top: 20px;
    
}

.inner-navbar {
    position: relative;
    top: 10px;
    left: 170px;
    background-color: white;
}

.Timeline, .About, .Welcome, .FWB, .More {
    background-color: white;
    border-right: lightgray 1px solid;
    padding: 0px 1.4%;
    font-size: large;
}

.Timeline {
border-left: lightgrey 1px solid;
}

.Main-Body {
    position: relative;
    top: 55px;
    margin: 10px auto;
    width: 850px;
}

.L_Column {
    width: 328px;
    height: 600px;
    margin-right: 10px;
    display: inline-block;
    float: left;
}

.about-page-name {
    width: 328px;
    height: 186px;
    background-color: white;
    position: relative;
    top: -15px;
}

.P-Black {
    margin-top: 21px;
    padding-top: 7px;
    background-color: white;
    color: black;
    font-size: larger;
    border-top: lightgrey 1px solid;
    padding-left: 3%;
    position: relative;
    top: 28px;
}

.P-Blue {
    background-color: white;
    color: #5865a6;
    font-size: large;
    border-bottom: lightgrey 1px solid;
    padding-bottom: 11px;
    padding-left: 10px;
    position: relative;
    top: 28px;
}

.P-Blue-Two {
    color: #5865a6;
    font-size: larger;
    position: relative;
    top: 16px;
    left: 10px;
    display: inline;
    background-color: white;
}

.about-address-number {
    background-color: white;
    width: 328px;
    height: 150px;


}

.about-top {
    border-bottom: 1px lightgrey solid;
    height: 33px;
}

.about-mid {
    border-bottom: 1px lightgrey solid;
    height: ;
}

.about1 {
    background-color: white;
    position: relative;
    top: 9px;
    left: 15px;
}

.about-arrow {
    position: relative;
    left: 242px;
    top: 7px;
    background-color: white;
    color: gray;
}

.Your-adress {
    position: relative;
    top: 12px;
    left: 13px;
    background-color: white;
    font-weight: bold;
}

.city-country {
    width: 150px;
    position: relative;
    top: -15px;
    color: grey;
}

.phone-number {
    color: #5865a6;
    position: relative;
    top: 11px;
    left: 9px;
    font-weight: bold;
    background-color: white;
}

.about-address-number div {
    background-color: white;   
}

.about-address-number div p {
    background-color: white; 
}

.R_Column {
    width: 512px;
    height: 600px;
    display: inline-block;
}

.Your-Page-Name {
    width: 512px;
    height: 300px;
    background-color: white;
    position: relative;
    top: -10px;
}

.page-name-right {
    background-color: white;
}

.page-name-right-bold {
    background-color: white;
    color: #5865a6;
    font-weight: bold;
}

.changed_their {
    color: black;
    background-color: white;
}

.cover-photo-right  {
    background-color: white;
    color: #5865a6;
}

.small-blue-right {
    background-color: #5865a6;
    height: 25px;
    width: 25px;
    position: relative;
    float: left;
    left: -5px;
    top: 7px;
}

.mins-ago {
    background-color: white;
    position: relative;
    top: -13px;
    left: 26px;
    color: grey;
}

.page-name-right-top {
    background-color: white;
    position: relative;
    left: 10px;
    width: 490px;
    height: 36px;
}

.page-name-right-blue {
    background-color: #5865a6;
    width: 510px;
    height: 202px;
    margin: auto;
    position: relative;
    top: 10px;
}

.page-name-right-bot {
    background-color: white;
    border-bottom: solid lightgrey 1px;
    z-index: 2;

}

.page-name-right-bot ul li {
    float: left;
    background-color: white;
    padding: 0px 2px;
    list-style: none;
    margin: 0px 1px;
}

.p-n-r-b-list {
    position: relative;
    top: 31px;
    left: 13px;
    background-color: white;
}

.page-name-right-bot ul {
    margin-top: 5px;
    padding-top: 10px;
    margin-bottom: 23px;
    background-color: white;
    position: relative;
    left: 10px;
    top: 15px;
    display: table-footer-group;

}

#period1 {
    font-size: 30px;
    padding: 0px;
    position: relative;
    top: -15px;
    left: -3;
    height: 1px;
    margin-right: 5px;
    margin-left: -2px;
    z-index: 1;
}

#period2 {
    font-size: 30px;
    padding: 0px;
    position: relative;
    top: -15px;
    left: -3;
    height: 1px;
    margin-right: 5px;
    margin-left: -2px;
}

.no-dot {
    list-style: none;
    margin-right: 0px;
    margin-left: 1px;
}

.like1, .comment1, .share1 {
    position: relative;
    font-size: small;
    color: #5865a6;
    background-color: white;
}

.like1 {
    left: 0px;
    margin-right: 0px;
}

.comment1 {
    left: -8px;
    margin-right: -8px;
}

.share1 {
    left: -7px;
}

.second-box-right {
    margin-top: 10px;
    height: 150px;
    width: 512px;
    background-color: white;
}


.second-box-right-top {
    width: 300px;
    position: relative;
    top: 5px;
    left: 10px;
}

.second-box-right * {
    background-color: white;

}

.second-box-right-top .small-blue-right {
    background-color: #5865a6;
}

.second-box-right-list {
    background-color: white;
    list-style: none;
    position: relative;
    top: 10px;
}

.second-box-right-list li {
    float: left;
}

.december-12 {
    color: grey;
}

.second-box-right-mid {
    position: relative;
    top: 25px;
    left: 10px;
    width: 480px;
}

.second-box-right-bot {
    position: relative;
    top: 40px;
    border-top: lightgray 1px solid;
}

.second-box-right-list {
    position: relative;
    top: -3px;
    left: -24px;
    font-size: small;
    color: #5865a6;
}

#period3 {
    position: relative;
    left: 4px;
}

#period4 {
    position: relative;
    left: 4px;
}

#period3, #period4 {
    font-size: 30px;
    padding: 0px;
    position: relative;
    top: -17px;
    height: 1px;
    margin-right: 5px;
    margin-left: -2px;
}